* {
   box-sizing: border-box; 

   margin: 0;
   padding: 0;
}

.container {
    width:75vw;
    min-width: 320px;
    max-width: 1000px;

    height:auto;
    min-height: 100vh;

    display:flex;
    flex-direction:column;
    position: relative;

    background-color: #f7f4e9;

    margin: auto;
}

h2, h3, h4, ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    text-transform: uppercase;
    letter-spacing: 2px;
}

p, label, ol, .btn-contact, .know-me {
    font-family: 'Kurale', serif;
}

h3 {
    font-size: 18pt !important;
}

p {
    font-size: 14pt;
}

.justified {
    text-align: justify;
}

nav {
    background-color: #F3CFC7;

    border-radius: 16px;
}

nav ul li a:hover {
    background-color: #F19820;
    color: white !important;

    padding: 6px 8px;
    border-radius: 6px;
}

ul li {
    text-decoration: none;
    font-size: 16pt;
}

ul li .dropdown-menu {
    background-color: #F3CFC7;

    border: 1px solid #F3CFC7;

    font-weight: 600;
}

.dropdown-item:hover {
    background-color: white;

    border-radius: 6px;

    color: black !important;
}

.illustration1 {
    position: absolute;
    top: -10px;
    left: -10px;
}

.sprinkles {
    width: 30px;
    height: 30px;
    padding: 0 2px;
}

.danielaLogo {
    width: 100%;
}

.welcome {
    background-color: #F5F1EB;
    background-image: url("/images/dandelion.png");
    background-repeat: repeat-x;

    border-radius: 16px;
}

.bio-container {
    background-color: #F3CFC7;
    border-radius: 16px;
    margin-right: 20px;
    padding: 16px;

}

.welcomeMessage {
    color: #F19820;
}

.contactIndex-container {
    background-color: #F7D49A;
    border-radius: 16px;
    margin-right: 20px;
    padding: 16px;
}

.img-contact {
    height: 380px;
    border-radius: 20%;
}

.daniela-about {
    max-width: 100%;
    height: 650px;
}

.contact-icons {
    background-color: #F3CFC7;
    padding: 7px 8px;
    border-radius: 50%;
}

.line-contact {
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contact {
    background-color: #F19820;
    border: 1px solid #F19820;
    border-radius: 10px;
    padding: 8px;
}

.btn-contact:hover {
    background-color: white;
    border: 1px solid white;
}

#message, #email, #name {
    border: 0;
}

.about-container {
    width: 1200px;
}

.icesi-banner {
    width: 1000px;
}

.icesi-title {
    position: absolute;
    top: 750px;
    left: 200px;
    color: white;
}

.degree-icesi {
    position: absolute;
    top: 800px;
    left: 200px;
    color: white;
    font-weight: 300;
}

.fa-location-dot, .fa-calendar {
    background-color: #F3CFC7;
    border-radius: 50%;
    padding: 8px 10px;
    color: black;
}

.icon-tile-icesi {
    position: absolute;
    top: 850px;
    left: 200px;
    color: white;
    font-weight: 300;
}

.awards {
    position: absolute;
    top: 900px;
    left: 200px;
    color: white;
    font-weight: 300;
    width: 650px;
}

.img-thumbnail-icons {
    max-width: 60px !important;
}

.btn-portfolio {
    background-color: #F19820;
    border: 1px solid #F19820;
}

.btn-portfolio a {
    color: white;
}

.know-me {
    border-radius: 10px;
    border: 1px solid #F19820;
    background-color: #F19820;
}

.know-me a {
    color: white;
    text-decoration: none;
}
.cvMessage {
    color: #E48B8B;
}

.mapLocation {
    border-radius: 16px;
}

.fa-chevron-right {
    color: white;
}

.language-sparkle {
    width: 36px;
}

.img-thumbnail-index {
    height: 500px;

}

.shadow-effect {
    filter: brightness(70%);
  }

footer {
    margin-top: auto;
    padding: 1em 0;

    background-color: #F7D49A;
    background-image: url("/images/dots.png");

    border-radius: 16px;
}

.illustration2 {
    position: absolute;
    bottom: 0;
    right: -90px;
}

.index-icons {
    background-color: #E48B8B !important;
    padding: 7px 8px;
    border-radius: 50%;
}

.indexSocialIcons {
    width: 70%;
}

.indexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:991px) {
    p {
        font-size: 12pt;
    }

    .illustration1, .illustration2 {
        display: none;
    }

    .illustration3 {
        width: 280px;
    }

    .indexContainer {
        display: flex;
        flex-direction: column;
    }

    .bio-container {
        background-color: #F3CFC7;
        border-radius: 16px;
        margin-right: 20px;
        padding: 16px;
        width: 500px;
    }
    
    .contactIndex-container {
        background-color: #F7D49A;
        border-radius: 16px;
        margin-right: 20px;
        padding: 16px;
        width: 500px;
    }

    .mapSection {
        width: 450px;
        height: 300px;
    }

    .footer-container {
        display: flex;
        flex-direction: column !important;
    }

    .footerText{
        font-size: 1rem !important;
        text-align: center;
    }

    .footerIcons {
        width: 80%;
    }

    .imgFooter {
        width: 200px !important;
        padding-bottom: 14px;
    }
}

@media (max-width:540px) {
    .container {
        width: 75vw;
        min-width: 375px;
        max-width: 500px;
    
        height:auto;
        min-height: 100vh;
    
        display:flex;
        flex-direction:column;
        position: relative;
    
        margin: auto;
    }

    nav {
        width: 400px;
    }

    .welcome {
        display: flex;
        align-items:center;
        justify-content: center;

        width: 400px;
    }

    .welcome h2 {
        text-align: center;
    }

    .welcomeTitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .danielaIndeximg {
        width: 250px;
        height: 250px;
    }

    .bio-container {
        background-color: #F3CFC7;
        border-radius: 16px;
        margin-right: 20px;
        padding: 16px;
        width: 350px;
    }
    
    .contactIndex-container {
        background-color: #F7D49A;
        border-radius: 16px;
        margin-right: 20px;
        padding: 16px;
        width: 350px;
    }
}